@font-face {
    font-family: 'Gagabin';
    src: url("../assets/font/Gagalin-Regular.ttf") format('truetype');
}

:root {
    --primary-color: #8ECAE6;
    --secondary-color: #023047;
    --tertiary-color: #ffffff;
    --quaternary-color: #fff;
    --quinary-color: #000;
    --senary-color: #fff;
    --septenary-color: #000;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    outline: 0;
}

html,
body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


    overflow: hidden;
}

/* CSS for styling the layout */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}

.header__container__head {
    font-family: 'Gagabin', serif;
    padding-top: 3rem;
    font-size: 5rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center; /* Center the text horizontally */
    line-height: 1.2; /* Center the text vertically within the header */
}

.main__container__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#thomas_animation {
    height: 100%;
    width: 100%;
    color: white;
    animation: leftright 4s infinite;
}

#thomas_animation img{
    height: 25%;
    width: 25%;
}

.main__container {
    text-align: center;
}

.main__container button {
    height: 30%;
    width: 15%;
    padding: 25px 20px;
    margin: 20px 10px;
    font-size: 2rem;
    font-weight: unset;
    font-family: 'Gagabin', serif;

    cursor: pointer;

    background-color: var(--primary-color);
    border: 3px solid var(--secondary-color);
    border-radius: 20px;
    transition: background-color 0.3s;
}

.main__container button a {
    text-decoration: none;
    color: var(--tertiary-color);
    border-color: var(--secondary-color);
}

.main__container button:hover {
    background-color: #2980b9;
}

@keyframes leftright {
    0% {
        transform: translateX(-55%);
    }

    50% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(60%);
    }
}