<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Infinite Trolley Problems</title>
        <link rel="stylesheet" href="./style/index.css" />
        <link rel="icon" type="image/x-icon" href="../assets/favicon.ico"/>
        <script src="./javascript/index.js" defer></script>
    </head>
    <body>
        <header class="header__container">
            <h1 class="header__container__head">
                Infinite Trolley
            </h1>
        </header>
        <main class="main__container">
            <button class="main__container__create"><a href="./create.html">Create</a></button>
            <button class="main__container__view"><a href="./view.html">View</a></button>
        </main>
    </body>
</html>