<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Infinite Trolley Problems</title>
        <link rel="stylesheet" href="./style/index.css" />
        <link rel="icon" type="image/x-icon" href="../assets/favicon.ico"/>
        <script src="./javascript/index.js" defer></script>
    </head>
    <body>
        <header class="header__container">
            <h1 class="header__container__head">
                Infinite Trolley Problems
            </h1>
        </header>
        <main class="main__container">
            <div id="thomas_animation">
                <img class="main__container__logo" src="../assets/thomas_tank.gif" alt="logo" />
            </div>
            <div class="main__container__buttons">
                <button class="main__container__create" onclick="window.location.href = './create.html'"><a href="./create.html">Create</a></button>
                <button class="main__container__view" onclick="window.location.href = './view.html'"><a href="./view.html">View</a></button>
            </div>
        </main>
    </body>
</html>