<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Infinite Trolley Problems</title>
    <link rel="stylesheet" href="./style/view.css" />
    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
    <script src="./javascript/qrCode.js" ></script>
</head>
    <body>
        <header class="header__container">
            <div id="header__container__qr">
                <img id="qr-code" src="../assets/qr-code.png">
            </div>
        </header>
        <main class="main__container">
            <button class="main__container__start">Start</button>

        </main>
    </body>
</html>



