<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Infinite Trolley Problems</title>
    <link rel="stylesheet" href="./style/view.css" />
    <link rel="icon" type="image/x-icon" href="./assets/favicon.ico" />
    <script src="./javascript/view.js" ></script>
</head>
    <body>
        <header class="header__container">
            <a href="./index.html">
                <span id="back">
                    <img id="header__container__back" src="./assets/back-button.png" alt="back">
                </span>
            </a>
        </header>
        <main class="main__container">
            <div id="qr_code">
                <img class="main__container__qr" src="./assets/qr-code.png" alt="qr-code" />
            </div>
            <div class="main__container__buttons">
                <button class="main__container__start" onclick="startSession()"><a onclick="startSession()">Start</a></button>
            </div>
        </main>
    </body>
</html>



